=== INCOME ITEMS ===
{
  "name": "Rebecca Pay",
  "amount": 3663,
  "frequency": "biweekly",
  "recurrence": "biweekly",
  "firstDate": "24-Oct",
  "category": "Salary"
}

=== EXPENSE ITEMS ===
{
  "name": "House",
  "amount": 1749,
  "frequency": "monthly",
  "recurrence": "monthly",
  "firstDate": "07-Nov",
  "category": "Bills"
}
{
  "name": "Church",
  "amount": 540,
  "frequency": "biweekly",
  "recurrence": "biweekly",
  "firstDate": "24-Oct",
  "category": "Entertainment"
}
{
  "name": "Student Loans",
  "amount": 202,
  "frequency": "monthly",
  "recurrence": "monthly",
  "firstDate": "07-Nov",
  "category": "Healthcare"
}
{
  "name": "HendricksPwr",
  "amount": 350,
  "frequency": "monthly",
  "recurrence": "monthly",
  "firstDate": "21-Nov",
  "category": "Bills"
}
{
  "name": "Spectrum",
  "amount": 80,
  "frequency": "monthly",
  "recurrence": "monthly",
  "firstDate": "07-Nov",
  "category": "Bills"
}
{
  "name": "Suburban",
  "amount": 475,
  "frequency": "monthly",
  "recurrence": "monthly",
  "firstDate": "07-Nov",
  "category": "Bills"
}
{
  "name": "Food",
  "amount": 500,
  "frequency": "biweekly",
  "recurrence": "biweekly",
  "firstDate": "24-Oct",
  "category": "Groceries"
}
{
  "name": "Gas",
  "amount": 100,
  "frequency": "biweekly",
  "recurrence": "biweekly",
  "firstDate": "24-Oct",
  "category": "Gas"
}
{
  "name": "Geico",
  "amount": 65,
  "frequency": "monthly",
  "recurrence": "monthly",
  "firstDate": "24-Oct",
  "category": "Bills"
}
{
  "name": "Fi",
  "amount": 130,
  "frequency": "monthly",
  "recurrence": "monthly",
  "firstDate": "24-Oct",
  "category": "Bills"
}
{
  "name": "LafCred",
  "amount": 646,
  "frequency": "monthly",
  "recurrence": "monthly",
  "firstDate": "24-Oct",
  "category": "Bills"
}
{
  "name": "AllData",
  "amount": 230,
  "frequency": "monthly",
  "recurrence": "monthly",
  "firstDate": "24-Oct",
  "category": "Bills"
}
{
  "name": "Netflix",
  "amount": 16,
  "frequency": "monthly",
  "recurrence": "monthly",
  "firstDate": "07-Nov",
  "category": "Entertainment"
}
{
  "name": "Trash",
  "amount": 70,
  "frequency": "none",
  "recurrence": null,
  "firstDate": "05-Dec",
  "category": "Bills"
}
{
  "name": "Homeschool",
  "amount": 75,
  "frequency": "monthly",
  "recurrence": "monthly",
  "firstDate": "24-Oct",
  "category": "Healthcare"
}
{
  "name": "Drive",
  "amount": 10,
  "frequency": "monthly",
  "recurrence": "monthly",
  "firstDate": "24-Oct",
  "category": "Bills"
}
{
  "name": "YT Premium",
  "amount": 14,
  "frequency": "monthly",
  "recurrence": "monthly",
  "firstDate": "24-Oct",
  "category": "Entertainment"
}

=== SQL INSERT STATEMENTS ===
-- First, make sure you have a family member with name "Rebecca" or update the family_member_id
-- Income Items:
INSERT INTO budget_items (category, description, amount, due_date, is_income, recurrence, pay_frequency, payday_date, family_member_id, paid) VALUES ('Salary', 'Rebecca Pay', 3663, '2024-10-24', true, 'biweekly', 'biweekly', '2024-10-24', (SELECT id FROM family_members WHERE name ILIKE '%rebecca%' LIMIT 1), false);

-- Expense Items:
INSERT INTO budget_items (category, description, amount, due_date, is_income, recurrence, family_member_id, paid) VALUES ('Bills', 'House', 1749, '2024-11-07', false, 'monthly', (SELECT id FROM family_members LIMIT 1), false);
INSERT INTO budget_items (category, description, amount, due_date, is_income, recurrence, family_member_id, paid) VALUES ('Entertainment', 'Church', 540, '2024-10-24', false, 'biweekly', (SELECT id FROM family_members LIMIT 1), false);
